html,
body{
	min-height: 100%;
}

#main{
	@extend .clearfix;
	height: 100%;

	h1{
		margin: 1em 1%;
	}
	
	> section{
		@extend .clearfix;
	}


	/* COMMON TRACK LIST STYLES */
		ol.tracks{
			list-style-type: none;
			margin: 0;
			padding: 0;

			li{
				@extend .clearfix;
				position: relative;
				&:nth-child(even){
					background-color: #eee;
				}

				
				span{
					position: relative;
					height: 1.5em;
					width: 10em;
					padding: .5em 1%;
					display: block;
					float: left;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&.title{
						width: 30%;
					}
					&.artist{
						width: 20%;
					}
					&.album{
						width: 25%;
					}
					&.vote-count{
						width: 5%;
					}
					&.actions{
						width: 10%;
					}
				}

				.upvote,
				.voted{
					@extend .ir;
					display: block;
					width: 20px;
					height: 18px;
					background: url(/images/sprite-vote.png) no-repeat top left;
				}
				.voted{
					background-position: bottom left;
				}


			}
		}

	
	#playlist{
		ol.tracks{
			li{
				&:first-child{
					font-weight: bold;
					.progress{display: block;}
					span{
						padding: .75em 1%;
						&.actions{
							display: none;
						}
					}
				}

				.progress{
					display: none;
					background-color: rgba(0, 200, 0, .15);
					width: 35%;
					position: absolute;
					height: 100%;
					left: 0;
					top: 0;
				
				}
				
				span{
					&.title{
						width: 30%;
					}
					&.artist{
						width: 20%;
					}
					&.album{
						width: 25%;
					}
					&.vote-count{
						width: 5%;
					}
					&.actions{
						width: 10%;
					}
				}
			}
		}
	}

	#library{
		#albums{
			ol{
				list-style-type: none;
				margin: 0;
				padding: 0;
				@extend .clearfix;

				li{
					float: left;
					display: block;
					margin: 1em 1%;
					a{
						padding: 8px;
						text-decoration: none;
						display: block;
						width: 150px;
						border-radius: 4px;
						border: 2px solid transparent;
						&:hover,
						&:focus{
							border-color: rgba(0,0,0,.5);
							background: rgba(0,0,0,.1);
						
						}
					}
					
					img,
					span{
						display: block;
						text-align: center;
					}
				}

			}
		}
	}
	
	@media screen and (min-width: 800px){
		> section{
			float: left;
			height: 100%;
		}

		#playlist{
			width: 50%;
			border-right: 1px solid #111;
			margin-right: -1px;
		}
		
		#library{
			width: 50%;
			margin-right: -1px;
			border-left: 1px solid #111;
		}


	}
	
}


